.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .glass {
    background: rgba(15, 23, 42, 0.8);
}

.hero-bg {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('hero.png'); /* Ganti dengan Gambar 6 Anda */
    background-size: cover;
    background-position: center;
}